@model List<Projekat.Context.Oruzjee>
@{
    ViewBag.Title = "OruzjeList";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<style>
    table {
        margin: 20px;
    }

    th {
        margin: 2px;
        background-color: lightgreen;
        width: 200px;
        height: 30px;
        border: 1px solid black;
        text-align: center;
    }

    td {
        margin: 2px;
        background-color: lightgray;
        width: 200px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>ID Oruzja</th>
        <th>naziv</th>
        <th>tip</th>
        <th>godina proizvodnje</th>
        <th>cena</th>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.IDOruzja</td>
    <td>@item.naziv</td>
    <td>@item.tip</td>
    <td>@item.godinaProizvodnje</td>
    <td>@item.cena</td>
   <td>
        <a href="@Url.Action("KupiOruzje","Kupi",new { item.IDOruzja })" style="margin: 5px;" class=" btn btn-info">Kupi</a>
    </td>

</tr>
    }
</table>

