@model Projekat.Context.KorisnickiPodaci
@{
    ViewBag.Title = "UnosPodataka";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>Unesi/izmeni podatke</h2>

<style>
    .error {
        color: red;
    }
</style>
@using (Html.BeginForm("DodajUnosPodataka", "User", FormMethod.Post))
{

    <div class="container" style="padding: 20px;">
        <div class="form-group">
            <label>Ime</label>
            @Html.ValidationMessageFor(x => x.Ime, "")
            @Html.TextBoxFor(x => x.Ime, new { @style = "form-control" })
        </div>
        <div class="form-group">
            <label>Prezime</label>
            @Html.ValidationMessageFor(x => x.Prezime, "")
            @Html.TextBoxFor(x => x.Prezime, new { @style = "form-control" })

        </div>

        <div class="form-group">
            <label>Broj telefona</label>
            @Html.ValidationMessageFor(x => x.BrojTelefona, "")
            @Html.TextBoxFor(x => x.BrojTelefona, new { @style = "form-control" })
        </div>
        <div class="form-group">
            <label>JMBG</label>
            @Html.ValidationMessageFor(x => x.JMBG, "")
            @Html.TextBoxFor(x => x.JMBG, new { @style = "form-control" })
        </div>
        <div class="form-group">
            <label>Adresa</label>
            @Html.ValidationMessageFor(x => x.Adresa, "")
            @Html.TextBoxFor(x => x.Adresa, new { @style = "form-control" })
        </div>
        <div class="form-group">

            <button type="submit" style="color: white" class="btn btn-success">Unesi</button>
        </div>
    </div>
}