@model Projekat.Context.Municija
@{
    ViewBag.Title = "UpdateMunicija";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .error {
        color: red;
    }
   
</style>
@using (Html.BeginForm("DodajMuniciju", "Municija", FormMethod.Post))
{
    <div class="container" style="padding: 20px;">
        <div class="form-group">
            <label>ID municije</label>
            @Html.ValidationMessageFor(x => x.IDMunicije, "")
            @Html.TextBoxFor(x => x.IDMunicije, new { @class="form-control" })
          
        </div>
        <div class="form-group">
            <label>godina proizvodnje</label>
            @Html.ValidationMessageFor(x => x.godinaProizvodnje, "")
            @Html.TextBoxFor(x => x.godinaProizvodnje, new { Value = ViewBag.godinaProizvodnje,@class="form-control" })

        </div>

        <div class="form-group">
            <label>kalibar</label>
            @Html.ValidationMessageFor(x => x.kalibar, "")
            @Html.TextBoxFor(x => x.kalibar, new { Value = ViewBag.kalibar, @class = "form-control" })
        </div>
        <div class="form-group">
            <label>broj metaka</label>
            @Html.ValidationMessageFor(x => x.brojMetaka, "")
            @Html.TextBoxFor(x => x.brojMetaka, new { Value = ViewBag.brojMetaka,@class = "form-control" })
        </div>
        <div class="form-group">
            <label>cena</label>
            @Html.ValidationMessageFor(x => x.cena, "")
            @Html.TextBoxFor(x => x.cena, new { Value=ViewBag.cena, @class = "form-control" })
        </div>
        <div class="form-group">

            <button type="submit" style="color: white" class="btn btn-success">Izmeni</button>
        </div>
    </div>
}

